@import "variables.scss";

body {
	padding-top: 50px;
	background-color: $themeColor;

	nav {
		.dropdown-menu {
			@extend .bg-dark !optional;
			border-style:none;
			a {
				color:#ccc;
				&:hover {
					background-color: $themeColor;
					color:#fff;
				} 

			}
		}
	}

	main {
		background: #fff;
		padding: 30px;
	}
}

.btn-primary {
	background-color:$themeColor;
	border-style: none;
	&:hover {
		background-color:darken($themeColor, 5%);
	}
}