@import "util";
@import "components";

body {
	padding-top: 60px;
	background-color: $themeColor;
}

main {
	background-color: $containerColor;
	padding: 30px;
}

.phish {
	margin: 0 auto;
	width: 100px;
	height: auto;
}
