@import "util/colors";
@import "util/crayola";

$themeColor: $BlazeOrange;
$primary:	$themeColor !important;
$containerColor: #fff;

$Body:	Raleway;
$bodyColor: #000;

$Heading: Ubuntu;
$headingColor: $themeColor;

